.main-section{
  background-color: var(--logo-color);
  background-image: url(../../assets/img/bg.jpg);
  background-size: 100%;
  background-blend-mode: overlay;
  h2{
    font-size: 36px;
    @media all and (max-width: 767px) {
      font-size: 24px;
    }
  }
  p{
    font-size: 20px;
    @media all and (max-width: 767px) {
      font-size: 16px;
    }
  }
}