.bg {
  background-color: var(--primary-white);
  background-image: url(../../assets/img/bg.png);
  background-size: 100%;
  background-blend-mode: overlay;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  @media all and (max-width: 767px) {
    background-size: cover;
  }
  .art {
    position: fixed;
    right: 0px;
    top: 0px;
    width: 160px;
    img {
      width: 100%;
      object-fit: contain;
    }
  }
}

.alert {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  h3 {
    font-size: 20px;
  }
  i{
      display: flex;
      width: 76px;
      height: 76px;
      border-radius: 160px;
      align-items: center;
      justify-content: center;
      color: var(--white-color);
      background-color: var(--success-color);
      font-size: 42px;
      margin: 0px auto;
  }
}

input:not([type]):focus {
  border-bottom: 1px solid var(--input-color);
  box-shadow: 0 1px 0 0 var(--input-color);
}

.req-field {
  color: var(--required-color);
}

.q-section {
  h3 {
    font-size: 26px;
  }
  .answer-option {
    border: 1px solid #f1f1f1;
    padding: 1rem;
    border-radius: 4px;
  }
}

footer {
  position: fixed;
  bottom: 0px;
  padding: 2rem;
  width: 100%;
  a {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--primary-color);
    margin-left: 0.5rem;
    i {
      font-size: 20px;
    }
    &:hover{
        cursor: pointer;
    }
  }
}
